@import "normalize";
@import "main";

@tailwind base;
@tailwind components;
@tailwind utilities;

.color.active {
    border-color: lightgray;
}

.point {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}