* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

body.dark {
    color: whitesmoke;
    background: #222;
}
body.dark .pizza-container {
    background: #333;
}
body.dark aside {
    background: #303091;
}


img {
    width: 100%;
}

.container-fluid {
    width: 95%
}



/*********************** MAIN ***********************/
main {
    width: 100%;
}

h1 {
    margin-top: 25px;
    padding-left: 15px;
}

.theme {
    margin-left: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: lightgray;
}

.pizza-grid {
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, auto);
}

.pizza-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 20px 10px;
}
.pizza-img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px #0000008c;
}
.pizza-img img {
    width: 100%;
}
.add-pizza {
    width: 80px;
    height: 80px;
    margin: -40px auto 15px auto;
    padding: 15px 28px;
    font-size: 1.4rem;
    color: white;
    background: #3765fc;
    border-radius: 50%;
}
.pizza-img:hover {
    cursor: pointer;
}
.pizza-img:hover ~ .add-pizza, .add-pizza:hover {
    background: #597ffc;
    cursor: pointer;
}
.pizza-name {
    font-size: 1.6rem;
}

.pizza-container-bg {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
}
.pizza-container-bg.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00000062;
    z-index: 9;
}
.pizza-container-bg.active .pizza-container {
    display: block;
}
.pizza-container {
    display: none;
    position: fixed;
    width: 80%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000009d;
    z-index: 10;
}
.pizza-container-return {
    position: relative;
    width: 50px;
    height: 40px;
    margin: 20px 0px 0px 15px;
}
.pizza-container-return::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: black;
    bottom: 22px;
    transform: rotate(45deg);
}
.pizza-container-return::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: black;
    bottom: 22px;
    transform: rotate(-45deg);
}
.pizza-container-return:hover {
    cursor: pointer;
}


.pizza-container-details {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pizza-container-details .pizza-photo {
    flex: 1;
}
.pizza-container-details .pizza-photo img {
    width: 100%;
}

.pizza-container-details > .details {
    flex: 1;
    padding-left: 20px;
    text-align: justify;
}
.pizza-container-details .details h2 {
    margin: 30px 0px;
}
.pizza-container-details .details > p {
    color: #818181;
}
.pizza-container-details .details .size {
    margin: 20px 0px 40px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}
.pizza-container-details .details .size .size-option {
    background: #818181;
    transition: all 0.3s ease;
}
.pizza-container-details .details .size .size-option:hover:not(.active) {
    background: #a1a1a1;
}
.pizza-container-details .details .size .active {
    color: white;
    background: #597ffc;
}
.pizza-container-details .details .size span {
    font-weight: normal;
}
.pizza-container-details .details .size > div {
    padding: 5px 10px;
}
.pizza-container-details .details .size > div:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pizza-container-details .details .size > div:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pizza-container-details .details .size div:hover {
    color: white;
    background: #597ffc;
    cursor: pointer;
}
.pizza-container-details .details div .price {
    margin: 0px 50px 0px 0px;
    font-size: 2rem;
}
.quant {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background: #acacac;
}
.quant.cart {
    padding: 5px;
    font-size: 1rem;
}
.quant button {
    padding: 10px 20px;
    border: none;
    background: none;
}
.quant.cart button {
    padding: 5px 10px;
}
.pizza-container-details .details .buttons {
    margin-top: 45px;
}
.pizza-container-details .details .buttons .add-cart {
    margin-right: 25px;
    padding: 15px 25px;
    color: white;
    background: #4dbb4d;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.pizza-container-details .details .buttons .add-cart:hover {
    background: #3b8d3b;
}
.pizza-container-details .details .buttons .cancel {
    margin-right: 25px;
    padding: 15px 25px;
    color: white;
    background: gray;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.pizza-container-details .details .buttons .cancel:hover {
    background: #585858;
}



/*********************** ASIDE ***********************/
aside {
    width: 0;
    padding-top: 25px;
    background: lightblue;
    transition: all 0.3s ease;
}
aside.active {
    width: 50%;
}

aside > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside p {
    margin: 0px;
}

aside .cart-pizzas > div {
    width: 100%;
    margin-bottom: 30px;
}
aside .cart-pizzas div:first-child img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
aside > div > button {
    width: 100%;
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background: lightgreen;
}


/*********************** MEDIA QUERIES ***********************/
@media (min-width:1500px) {
    html, body {
        font-size: larger;
    }

    .pizza-model {
        width: 400px;
    }
}